@model IEnumerable<Nidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared_Layout.cshtml";
 }

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We do not have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Costomer</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name,"Details", "Customers", new { id = customer.Id}, null)</td>
                </tr>
            }
        </tbody>
    </table>

}


